/vendor/
node_modules/
npm-debug.log
yarn-error.log

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
public
public/hot
public/laravel-u-editor
storage/*.key
.env
storage
Homestead.yaml
Homestead.json
/.vagrant
